<%- include('../partials/userHead') %>
<%- include('../partials/userHeader') %>

<% let start = ((part - 1)*10); let end = ((part * 10) - 1);%>
<% pages.forEach(page => {  %>
    <h1><%= page.eventName %></h1>

<%})%>
<%- include('../partials/userFooter') %>