<%- include('../partials/userHead') %>
<%- include('../partials/userHeader') %>

<div>
    <h1><%= book.title %></h1>
    <p>Has been sucessfully bound and saved to your library</p>

    <h3> Would you like to make this publically available?</h3>
</div>

<%- include('../partials/userFooter') %>