<header>
    <nav>
        <% if(user) { %>
            <a href="/" aria-disabled="true">Welcome, <%= user.userName %></a>
            <a href="/user/home">Profile</a>
            <a href="/user/logout">Log-Out</a>
        <% } else { %>
            <a href="/user/login">Log-In</a>
            Profile
        <% } %>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/pages">Pages</a></li>
        <li><a href="/book">Books</a></li> 
    </ul>
    </nav>
</header>
    <main>