
<header class="navbar">
    <nav class="mainNav">
        <a href="/" class="toptext"><h2>ChooseADV</h2></a>
    <div class="miniNav">            
            <% if(user) { %>
            <a href="/user/home" class="navButton">Profile</a>
            <a href="/user/logout" class="navButton">Log-Out</a>
            <% } else { %>
            <a href="/user/login" class="navButton">Log-In</a>
            <% } %>
            <a href="/pages/all/1" class="navButton">Pages</a>
            <a href="/book" class="navButton">Books</a>
            <a href="/story/index" class="navButton">Stories</a>
    </div>
    </nav>
</header>
    <main>