:root{

    --clr-100: #858DFF;
    --clr-200: #1D3461;
    --clr-300: #1F487E;
    --clr-400: #eff2ef;
    --clr-500: #519E8A;

}

:root{
    --ff-page-100: 'EB Garamond', serif;
    --ff-UpperText-200: 'Anton', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-page-100);
}
.everything{
    border: 1px solid black;
}

.navbar{
    display:flex;
    justify-content: center;
    width: 95%;
    height: 15vh;
    background-color: var(--clr-300);
    text-align: center;
    margin: 0 auto;
    margin-top: 1vh;
    position: relative;
    border-bottom: 1vh solid var(--clr-200);
    box-shadow: 0px 3px black;
}
.miniNav{
    display: flex;
    width: 100%;
    height: 25%;
    justify-content: space-between;
    /* position: absolute; */
    bottom: 0;
    padding-top: 4vh;
}
.miniNav a{
    padding: 1vh 3vh;
    color: var(--clr-400);
    text-decoration: none;
}
.navButton{
    /* border: 1px black solid; */
    /* margin: 0 5px; */
    padding: 0 10px;
    background-color: var(--clr-200);
    color: var(--clr-400);
    text-decoration: none;
    border: 1px solid #0e1d39;
}

.navButton:hover{
    background-color: var(--clr-500);
}
.toptext{
    height: 75%;
    margin-top: 1vh;
    margin-bottom: 5vh;
    color: var(--clr-400);
    text-decoration: none;
    font-family: var(--ff-UpperText-200);
    text-shadow: 3px 3px black;
    font-size: large;
}
body{
    background-color: rgb(218, 218, 218);
    /* border: 1px black solid; */
}

.mainCont{
    background-color: white;
    width: 95%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.pageindexitem{
    border: 1px black solid;
    display: flex;
    /* width: fit-content; */
    width: 25%;
    flex-shrink: 1;
    align-items: center;
    flex-direction: column;
    padding: 2vh;
    margin: 10px auto;
    background-color: var(--clr-100);
    color: white;
}

.viewme{
    width: 3vh;
    height: 3vh;
    background-color: var(--clr-500);
    color: var(--clr-400);
    margin: 2vh;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px black;
}
.makeANewPage{
    color: var(--clr-400);
    background-color: var(--clr-300);
    text-decoration: none;
    display: flex;
    width: fit-content;
    padding: 5px;
    text-align: center;
    margin: 2vh auto;
    /* padding-top: 1vh; */
    /* margin: 15px 0; */
    /* margin-left: 10px; */
}

.pageindexitem h2,.pageindexitem label,.pageindexitem p{
    text-shadow: 1px 1px black;
    padding: 5px;
}
.pageindexitem a{
    text-decoration: none;
}
.author{
    color: var(--clr-400);
    background-color: var(--clr-500);
    border: 1px solid #3d806e;
}

.pageNew{
    display: flex;
    justify-content: center;
    text-align: center;
    /* flex-direction: column; */
    margin: 5vh auto;
    width: 40%;
    padding: 7vh;
    border: 10px grey solid;
    box-shadow: 2px 2px black;
}

.pageNew input{
    padding: 5px;
}

.pageNew *{
    /* padding: 10px; */
    margin: 5px;
}

.bookIndex{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: 2vh auto;
    width: 80%;
    padding: 2vh;
    /* width: fit-content */
}

.auto1{
    color: var(--clr-400);
    background-color: var(--clr-300);
    text-decoration: none;
    width: fit-content;
    padding: 5px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2vh;;
}

.auto2{
margin-top: 3vh;
}

.bookParam{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 50%;
    min-height: 70vh;
    /* padding: 10vh; */
    padding-top: 2vh;
}
.bookParam *{
    margin: 2vh;
}

.bookParam input{
    padding: 1vh;
}

.bookitemcoll{
    border: 1px black solid;
    display: flex;
    /* width: fit-content; */
    flex-shrink: 1;
    align-items: center;
    flex-direction: column;
    padding: 2vh;
    margin: 10px auto;
    background-color: var(--clr-100);
    color: white;
}

.viewAsPage{
    display: flex;
    border: 1px black solid;
    outline: 20px grey solid;
    height: 77vh;
    width: 59.5vh;
    /* margin: 0 auto; */
    text-align: center;
    justify-content: center;
}

.viewAsPage p{
    font-family: var(--ff-page-100);
    display: flex;
    text-align: left;
    margin: 8vh;
    /* margin: 8.5vh 13vh 8.5vh 11vh; */
    width: 100%;
}

.pageNumber{
    position: absolute;
    bottom: 0;
    left: 50%;
    /* margin: 0 auto; */
    text-align: center;
}

.pageTitle{
    display: flex;
    position: relative;
    top: 2vh;
    left: 50%;
    text-align: center;
    margin: 0;
    border: 0;
    padding: 0;
    font-family: var(--ff-page-100);
    font-style: italic;
}
.pageList{
    margin: 1vh;
    padding-bottom: 1vh;
}
.storyEdit{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 75%;
    min-height: 70vh;
    /* padding: 10vh; */
    padding-top: 2vh;
}
.storyEdit *{
    margin: 1vh;
}

.storyEdit textarea{
    font-family: var(--ff-page-100);
    font-size: large;
    /* margin: 3vh; */
    padding: 3vh;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-top: 3vh;   */
}


footer,
header{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    margin: 0 auto;
}

footer{
    background-color: var(--clr-300);
    flex-direction: column;
    color: var(--clr-400)
}