<%- include('../partials/userHead') %>
<%- include('../partials/userHeader') %>
<form action="/pages" method="post">

    <label for="eventName">
        Name of Page:
    <input type="text" name="eventName" id="eventName" placeholder="Name" required>
    </label>

    <label for="createdBy">
        Author:
    <input type="text" name="createdBy" id="createdBy" placeholder="Name of Creator" required>
    </label>

    <label for="content">
        Page Text:
    <textarea name="content" id="content" cols="30" rows="10"></textarea>
    </label>


    <input type="submit" value="Send">
</form>
<%- include('../partials/userFooter') %>