<%- include('../partials/userHead') %>
<%- include('../partials/userHeader') %>
<div class="mainCont">

    <h1>New User</h1>
    <form action="/user/register" method="post">

        <label for="userName">
            Your User Name:
            <input type="text" name="userName" id="userName" placeholder="User Name">
        </label>

        <label for="userEmail">
            Email Address:
            <input type="email" name="userEmail" id="userEmail" placeholder="email">
        </label>

        <label for="userPassword">
            Password:(min. 6 characters)
            <input type="password" name="userPassword" id="userPassword" placeholder="Password">
        </label>

        <label for="SEND">
            <input type="submit" value="SEND">
        </label>
    </form>
</div>
    <%- include('../partials/userFooter') %>