<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User Placeholder</title>
</head>
<body>
    <form action="/user" method="post">

        <label for="userName">
            <input type="text" name="userName" id="userName">
        </label>

        <label for="userEmail">
            <input type="text" name="userEmail" id="userEmail">
        </label>
        <label for="SEND">
            <input type="submit" value="SEND">
        </label>
    </form>
</body>
</html>