<%- include('../partials/userHead') %>
<%- include('../partials/userHeader') %>
<div class="mainCont">
<div class="bookParam">
<h1>Welcome <%= user.userName %></h1>
<a href="/book/collection" class="auto1">My Collection</a>
</div>
</div>
<%- include('../partials/userFooter') %>