<%- include('../partials/userHead') %>
<%- include('../partials/userHeader') %>
<div class="mainCont">
    <div class="bookParam">

<h1>
    Welcome to ChooseADV
</h1>
</div>
</div>
<%- include('../partials/userFooter') %>